$tablet:768px;
$mobile:600px;
$laptop:992px;
$desktop:1200px;

.coleslawSection{
    background-color: white;
    margin-top: 10rem;
    padding: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:1.7;
    font-size:1rem;
}
.coleslawSection > img{
    width:100%;
    margin-top: 1rem;
}

.coleTiming{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background:rgb(217, 217, 217);
    width:50%;
    padding:2rem;
    margin-top: 1rem;   
}

.coleTiming > a {
    margin-top: 1rem;
}
.colesIngredient {
    margin-top: 1rem;
}
.colesIngredient > ul{
    list-style: none;
}

.colesDirection{
    margin-top: 1rem;
}
.coleNutrition{
      margin-top: 1rem;
      background: rgb(217, 217, 217);
      width:40%;
      padding:2rem;
}

.coleNutritionFact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
}

.coleslawLabel{
    margin-top: 2rem;
}

.closeCole > .coleslawLabelItem{
    border: 1px solid black;
    width: 50%;
    padding:2rem;
    margin-top: 1rem;
}
.gradientLine{
    border-style: solid;
    border-color: rgb(239, 239, 239);
    border-width: 1px;
    border-image: initial;
    width:100%;
 }


 @media (max-width:$mobile){
    .coleslawSection{
        font-size: 13px;
    }
    .coleTiming{
        width:100%;
        padding:1rem;
          
    }
    
.coleTiming > a {
    
    font-size: 10px;
}

.coleNutrition{
 
    width:90%;
    padding:1rem;
}

.closeCole > .coleslawLabelItem{
    border: 1px solid black;
    width: 80%;
    padding:1rem;
    margin-top: 1rem;
}

}