.login{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:120px auto;
}

.form-element{
    background-color: blue;
    padding: 2rem;
     width:20%;
     margin:auto;
    align-items: center;
}