$tablet:768px;
$mobile:600px;
$laptop:992px;
$desktop:1200px;

.roastedBody{
    background-color: white;
    margin-top: 10rem;
    padding: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:1.7;
    font-size:1rem;

    .timingCard{
    background:rgb(217, 217, 217);
    width:50%;
    padding:2rem;
    margin-top: 1rem;   
   
}
.timing-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.timingCard > a {
    margin-top: 3rem;
}
}

.roastedBody > img{
    width:100%;
    margin-top:1rem
}

.ingredients{
    margin-top: 2rem;
}
.ingredients > ul {
    list-style: none;
}

.direction{
    margin-top: 1rem;
}
.roastedNutri{
      background: rgb(217, 217, 217);
      width:35%;
      padding:2rem;
      margin-top: 1rem;
}
.rostedNutriItems{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
}

.nutritionFact{
    margin-top: 2rem;
}

 .closeRoasted > .roastedItems{
    border: 1px solid black;
    width: 50%;
    padding:2rem;
    margin-top: 1rem;
}

.gradientLine{
   border-style: solid;
   border-color: rgb(239, 239, 239);
   border-width: 1px;
   border-image: initial;
   width:100%;
}



@media (max-width:$tablet){

    .timingCard{
        background:rgb(217, 217, 217);
        width:60%;
        padding:2rem;
        margin-top: 1rem;   
      
        .timing-grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }
    
}

@media (max-width:$mobile){
     .roastedBody{
        font-size: 13px;
    }


.roastedNutri{
    background: rgb(217, 217, 217);
    width:80%;
    padding:2rem;
    margin-top: 1rem;
}


 .closeRoasted > .roastedItems{
    border: 1px solid black;
    font-size: 13px;
    width:90%;
    padding:1.5rem;
    margin-top: 1rem;
}



}